.edgarAlenPoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.imageAndPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px;
}

.price {
  font-family: var(--fourthFont);
  font-size: 44px;
  line-height: 120%;
  font-weight: 400;
}
.image {
  width: 100%;
}
.button {
  border: 10px solid #ce790a;
  background: #040404;
  padding: 6px 28px;
  padding-top: 30px;
  display: inline-block;
  margin-bottom: 70px;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.name {
  font-family: var(--fourthFont);
  font-size: 77px;
  font-weight: 400;
  line-height: 120%;
  color: #ce790a;
}
.title {
  font-family: var(--fourthFont);
  font-size: 55px;
  line-height: 120%;
  font-weight: 400;
}
@media only screen and (max-width: 1500px) {
  .name {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  .add {
    width: 500px;
  }
  .name {
    font-size: 50px;
  }
  .button {
    border-width: 8px;
  }
}
@media only screen and (max-width: 991px) {
  .title {
    font-size: 40px;
  }
  .price {
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .information {
    gap: 25px;
  }
}
@media only screen and (max-width: 575px) {
  .button {
    padding: 6px 18px;
    padding-top: 20px;
    border-width: 7px;
  }
  .name {
    font-size: 36px;
  }
  .title {
    font-size: 30px;
  }
  .price {
    font-size: 32px;
  }
}
@media only screen and (max-width: 520px) {
  .imageAndPrice {
    padding: 60px 10px;
  }
  .add {
    width: 350px;
  }
  .price {
    font-size: 30px;
  }
  .title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 374px) {
  .add {
    width: 250px;
  }
  .name {
    font-size: 30px;
  }
}
